<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>2022 Portfolio</title>

    <!-- css -->
    <link rel="stylesheet" href="{% static 'css/customcss.css' %}">


    <!-- BOXICONS -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>

    <!-- SWIPER CSS -->
    <link rel="stylesheet" href="assets/css/swiper-bundle.min.css">


</head>
<body>

<!-- HEADER -->
<header class="header" id="header">
    <nav class="nav container">
        <a href="#" class="nav__logo">STEFFY</a>

        <div class="nav__menu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="#home" class="nav__link active-link">
                        <i class='bx bx-home-alt'></i>
                    </a>
                </li>

                <li class="nav__item">
                    <a href="#about" class="nav__link">
                        <i class='bx bx-user'></i>
                    </a>
                </li>

                <li class="nav__item">
                    <a href="#skills" class="nav__link">
                        <i class='bx bx-book'></i>
                    </a>
                </li>

                <li class="nav__item">
                    <a href="#work" class="nav__link">
                        <i class='bx bx-briefcase-alt-2'></i>
                    </a>
                </li>

                <li class="nav__item">
                    <a href="#contact" class="nav__link">
                        <i class='bx bx-message-square-detail'></i>
                    </a>
                </li>
            </ul>
        </div>

        <!-- Theme change button -->
        <i class='bx bx-moon change-theme' id="theme-button" ></i>
    </nav>
</header>

<!-- MAIN -->
<main class="main">
    <!-- HOME ------------------------------------------------------------------------------------------------------------>
    <section class="home section" id="home">
        <div class="home__container container grid">
            <div class="home__data">
                <span class="home__greeting">Hello, I'm</span>
                <h1 class="home__name">Steffy</h1>
                <h3 class="home__education">Software Engineer</h3>

                <div class="home__buttons">
                    <a download="" href="" class="button button--ghost">Download Resume</a>
                    <a href="#about" class="button">About me</a>
                </div>
            </div>

            <div class="home__handle">
                <img src="../static/assets/images/ai.jpg" alt="" class="home__img">
            </div>

            <div class="home__social">
                <a href="https://www.linkedin.com/in/steffy-khristi/" target="_blank" class="home__social-link">
                    <i class='bx bxl-linkedin-square'></i>
                </a>

                <a href="https://github.com/steffyjk" target="_blank" class="home__social-link">
                    <i class='bx bxl-github'></i>
                </a>

                <a href="" target="_blank" class="home__social-link">
                        <i class='bx bxl-behance' ></i>
                </a>
            </div>

            <a href="#about" class="home__scroll">
                <i class='bx bx-mouse home__scroll-icon' ></i>
                <span class="home__scroll-name">Scroll Down</span>
            </a>

        </div>
    </section>

    <!-- ABOUT ------------------------------------------------------------------------------------------------------------>
    <section class="about section" id="about">
        <span class="section__subtitle">My Intro</span>
        <h2 class="section__title">About Me</h2>

        <div class="about__container container grid">
            <img src="../static/assets/images/ai.jpg" alt="" class="about__img">

            <div class="about__data">
                <div class="about__info">
                    <div class="about__box">
                        <i class='bx bx-award about__icon'></i>
                        <h3 class="about__title">Experience</h3>
                        <span class="about__subtitle">{{ about_me.experience }} Years Working</span>
                    </div>

                    <div class="about__box">
                        <i class='bx bx-briefcase-alt about__icon' ></i>
                        <h3 class="about__title">Completed</h3>
                        <span class="about__subtitle">{{about_me.total_projects}} + Projects</span>
                    </div>

                    <div class="about__box">
                        <i class='bx bx-support about__icon' ></i>
                        <h3 class="about__title">Support</h3>
                        <span class="about__subtitle">Online 24/7</span>
                    </div>
                </div>

                <p class="about__description">{{about_me.description}}</p>

                <a href="#contact" class="button">Contact Me</a>
            </div>
        </div>
    </section>

    <!-- SKILLS ----------------------------------------------------------------------------------------------------------->
    <section class="skills section" id="skills">
        <span class="section__subtitle">My abilities</span>
        <h2 class="section__title">My Experience</h2>

        <div class="skills__container container grid">
            {% for category in categories %}
                <div class="skills__content">
                    <h3 class="skills__title">{{ category.name }}</h3>
                    <div class="skills__box">
                        <div class="skills__group">
                            {% for technology in category.experiencetechnology_set.all %}
                                <div class="skills__data">
                                    <i class='bx bxs-badge-check' ></i>
                                    <div>
                                        <h3 class="skills__name">{{ technology.tech_name }}</h3>
                                        <span class="skills__level">{{ technology.tech_qualification }}</span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {%endfor%}
        </div>
    </section>

    <!-- SERVICES -->
    <section class="services section" id="services">
        <span class="section__subtitle">My Services</span>
        <h2 class="section__title">What I Offer</h2>
        <div class="services__container container grid">
            {% for service in services %}
            <div class="services__card">
                <h3 class="services__title">{{service.title}}</h3>
                <span class="services__button">
                    See more <i class='bx bx-right-arrow-alt services__icon' ></i>
                </span>
                <div class="services__modal">
                    <div class="services__modal-content">
                        <i class='bx bx-x services__modal-close' ></i>
                        <h3 class="services__modal-title">{{service.title}}</h3>
                        <p class="services__modal-description">
                            {{service.description}}
                        </p>
                        <ul class="services__modal-list">
                            {% for sub_service in service.subservice_set.all %}
                            <li class="services__modal-item">
                                <i class='bx bx-check services__modal-icon' ></i>
                                <p class="services__modal-info">
                                    {{sub_service.sub_service}}
                                </p>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <!-- WORK ------------------------------------------------------------------------------------------------------------->
    <section class="work section" id="work">
        <span class="section__subtitle">My Portfolio</span>
        <h2 class="section__title">Recent Works</h2>

        <div class="work__filters">
            <span class="work__item active-work" data-filter='all'>All</span>
            {% for work_category in work_categories%}
            <span class="work__item" data-filter={{work_category.name}}'>{{work_category.name}}</span>
            {% endfor %}
        </div>

        <div class="work__container container grid">
            {% for work_category in work_categories%}
                {% for work in work_category.mywork_set.all %}
                    <div class=f"work__card mix {{work_category.name}}">
                        <img src="../static/assets/images/ai.jpg" alt="" class="work__img">

                        <h3 class="work__title">{{work.description}}</h3>

                        <a href={{work.link}} class="work__button">
                            link <i class='bx bx-right-arrow-alt work__icon' ></i>
                        </a>
                    </div>
                {% endfor %}
            {% endfor %}

        </div>
    </section>

    <!-- TESTIMONIAL -->
    <section class="testimonial section" id="testimonial">
        <span class="section__subtitle">My clients say</span>
        <h2 class="section__title">Testimonial</h2>

        <div class="testimonial__container container swiper">
            <div class="swiper-wrapper">
                <div class="testimonial__card swiper-slide">
                    <img src="../static/assets/images/ai.jpg" alt="" class="testimonial__img">

                    <h3 class="testimonial__name">001 002</h3>

                    <p class="testimonial__desctiption">
                        A really good job, all aspects of the project were followed step by step and with good results.
                    </p>
                </div>

                <div class="testimonial__card swiper-slide">
                    <img src="../static/assets/images/ai.jpg" alt="" class="testimonial__img">

                    <h3 class="testimonial__name">003 004</h3>

                    <p class="testimonial__desctiption">
                        A really good job, all aspects of the project were followed step by step and with good results.
                    </p>
                </div>

                <div class="testimonial__card swiper-slide">
                    <img src="../static/assets/images/ai.jpg" alt="" class="testimonial__img">

                    <h3 class="testimonial__name">005 006</h3>

                    <p class="testimonial__desctiption">
                        A really good job, all aspects of the project were followed step by step and with good results.
                    </p>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </section>

    <!-- CONTACT ---------------------------------------------------------------------------------------------------------->
    <section class="contact section" id="contact">
        <span class="section__subtitle">Get in touch</span>
        <h2 class="section__title">Contact Me</h2>

        <div class="contact__container container grid">
            <div class="contact__content">
                <h3 class="contact__title">Talk to me</h3>

                <div class="contact__info">
                    <div class="contact__card">
                        <i class='bx bx-mail-send contact__card-icon'></i>
                        <h3 class="contact__card-title">Email</h3>
                        <span class="contact__card-data">steffy.jk2018@gmail.com</span>

                        <a href="https://www.google.com/" target="_blank" class="contact__button">
                            Write me <i class='bx bx-right-arrow-alt contact__button-icon' ></i>
                        </a>
                    </div>

                    <div class="contact__card">
                        <i class='bx bxl-whatsapp contact__card-icon' ></i>
                        <h3 class="contact__card-title">Whatsapp</h3>
                        <span class="contact__card-data">111-222-333</span>

                        <a href="https://www.whatsapp.com/" target="_blank" class="contact__button">
                            Write me <i class='bx bx-right-arrow-alt contact__button-icon' ></i>
                        </a>
                    </div>

                    <div class="contact__card">
                        <i class='bx bxl-messenger contact__card-icon' ></i>
                        <h3 class="contact__card-title">Messenger</h3>
                        <span class="contact__card-data">user.s002</span>

                        <a href="https://play.google.com/store/apps/details?id=com.facebook.orca&hl=en_IN&gl=US" target="_blank" class="contact__button">
                            Write me <i class='bx bx-right-arrow-alt contact__button-icon' ></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="contact__content">
                <h3 class="contact__title">Write me your project</h3>

                <form action="" class="contact__form">
                    <div class="contact__form-div">
                        <label for="" class="contact__form-tag">Names</label>
                        <input type="text" placeholder="Insert your name" class="contact__form-input">
                    </div>

                    <div class="contact__form-div">
                        <label for="" class="contact__form-tag">Mail</label>
                        <input type="email" placeholder="Insert your email" class="contact__form-input">
                    </div>

                    <div class="contact__form-div contact__form-area">
                        <label for="" class="contact__form-tag">Project</label>
                        <textarea name="" id="" cols="30" rows="10" placeholder="Write your project" class="contact__form-input"></textarea>
                    </div>

                    <button class="button">Send Message</button>
                </form>
            </div>

        </div>
    </section>
</main>

<!-- FOOTER -->
<footer class="footer">
    <div class="footer__container container">
        <h1 class="footer__title">STEFFY JK</h1>

        <ul class="footer__list">
            <li>
                <a href="#about" class="footer__link">About</a>
            </li>

            <li>
                <a href="#work" class="footer__link">Projects</a>
            </li>

            <li>
                <a href="#testimonial" class="footer__link">Testimonial</a>
            </li>
        </ul>

        <ul class="footer__social">
            <a href="https://www.instagram.com" target="_blank" class="footer__social-link">
                <a href="" target="_blank" class="footer__social-link">
                    <i class='bx bxl-instagram'></i>
                </a>

                <a href="https://twitter.com/" target="_blank" class="footer__social-link">
                    <i class='bx bxl-twitter' ></i>
                </a>

                <a href="https://discord.com/" target="_blank" class="footer__social-link">
                    <i class='bx bxl-discord-alt' ></i>
                </a>
        </ul>

        <span class="footer__copy">
                &#169; STEFFY All rights reserved
            </span>
    </div>
</footer>















<!-- SCROLLREVEAL -->
<!--<script src="assets/js/scrollreveal.min.js"></script>-->



<!--&lt;!&ndash; SWIPET JS &ndash;&gt;-->
<!--<script src="assets/js/swiper-bundle.min.js"></script>-->

<!--&lt;!&ndash; MIXITUP FILTER &ndash;&gt;-->
<!--<script src="assets/js/mixitup.min.js"></script>-->

<!-- MAIN JS -->
<script src="../static/js/main.js"></script>
</body>
</html>